<!-- Formulario para agregar Manifiesto -->
<div class="card mb-4">
  <div class="card-header bg-primary text-white">Agregar nuevo manifiesto</div>
  <div class="card-body">
    <form #destinatarioForm="ngForm">
      <div class="mb-3">
        <label for="Destinatario" class="form-label">Cliente</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="nuevaGuia.cliente"
          name="Nombres"
          required
          readonly
        />
      </div>
      <div class="mb-3">
        <label for="direccion_destinatario" class="form-label"
          >Dirección destinatario</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="nuevaGuia.direccion_destinatario"
          name="direccion_destinatario"
          required
        />
      </div>
      <div class="mb-3">
        <label for="tipoDocumento" class="form-label">Tipo Documento</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="nuevaGuia.tipo_documento"
          name="tipoDocumento"
          required
          readonly
        />
      </div>
      <div class="mb-3">
        <label for="documento" class="form-label">Documento</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="nuevaGuia.documento"
          name="documento"
          required
          readonly
        />
      </div>
      <div class="mb-3">
        <label for="celular" class="form-label">Celular</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="nuevaGuia.celular"
          name="Celular"
          required
          readonly
        />
      </div>
      <div class="mb-3">
        <label for="Nombres" class="form-label">Telefono</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="nuevaGuia.telefono"
          name="Telefono"
          required
          readonly
        />
      </div>
      <div class="mb-3">
        <label for="Nombres" class="form-label">Email</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="nuevaGuia.email"
          name="Email"
          required
          readonly
        />
      </div>
      <div class="mb-3">
        <label for="Nombres" class="form-label">Tipo Pago</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="nuevaGuia.tipo_pago"
          name="tipo_pago"
          required
        />
      </div>
      <div class="mb-3">
        <label for="carta_porte" class="form-label">Carta Porte</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="nuevaGuia.carta_porte"
          name="carta_porte"
          required
        />
      </div>
      <div class="mb-3">
        <label for="valor_total_declarado" class="form-label"
          >Total Declarado</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="nuevaGuia.valor_total_declarado"
          name="valor_total_declarado"
          required
        />
      </div>
      <div class="mb-3">
        <label for="unidades" class="form-label">Unidades</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="nuevaGuia.unidades"
          name="unidades"
          required
        />
      </div>
      <div class="mb-3">
        <label for="kilos_reales" class="form-label">Kilos Reales</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="nuevaGuia.kilos_reales"
          name="kilos_reales"
          required
        />
      </div>
      <div class="mb-3">
        <label for="uso_medidas" class="form-label">Uso Medidas</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="nuevaGuia.uso_medidas"
          name="uso_medidas"
          required
        />
      </div>
      <div class="mb-3">
        <label for="kilogramos_reales" class="form-label"
          >Kilogramos Reales</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="nuevaGuia.kilogramos_reales"
          name="kilogramos_reales"
          required
        />
      </div>
      <div class="mb-3">
        <label for="descripcion_contenido" class="form-label"
          >Descripción Contenido</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="nuevaGuia.descripcion_contenido"
          name="descripcion_contenido"
          required
        />
      </div>
      <div class="mb-3">
        <label for="observaciones" class="form-label">Observaciones</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="nuevaGuia.observaciones"
          name="observaciones"
          required
        />
      </div>
      <div class="mb-3">
        <label for="documento_remitente" class="form-label"
          >Documento Remitente</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="nuevaGuia.documento_remitente"
          name="documento_remitente"
          required
        />
      </div>
      <div class="mb-3">
        <label for="cuenta" class="form-label">Cuenta</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="nuevaGuia.cuenta"
          name="cuenta"
          required
        />
      </div>
      <!-- [disabled]="destinatarioForm.invalid" -->
      <!-- <button type="submit" class="btn btn-success">Agregar</button> -->
    </form>
  </div>
</div>

<div class="mb-3">
  <div class="card mb-3">
    <div class="card-header bg-primary text-white">
      Lista de guías sin manifiesto
    </div>
  </div>
  <input
    type="text"
    class="form-control"
    placeholder="Buscar destinatario..."
    [(ngModel)]="filtroGuia"
    (ngModelChange)="filtrarGuias()"
  />
</div>
<!-- Lista Tabla de Manifiesto  -->
<table class="table table-striped table-hover table-bordered align-middle">
  <thead class="rounded-header">
    <tr>
      <th scope="col">Selección</th>
      <th scope="col">Fecha Generación</th>
      <th scope="col">Destinatario</th>
      <th scope="col">Dirección</th>
      <th scope="col">Documento</th>
      <th scope="col">Celular</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Email</th>
      <th scope="col">Unidades</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let guia of listaguias">
      <td>
        <input type="checkbox" name="" id="" (change)="SeleccionarGuia(guia)" />
      </td>
      <td>{{ guia.fechaDeGeneracion }}</td>
      <td>{{ guia.destinatario }}</td>
      <td>{{ guia.direccionDestinatario }}</td>
      <td>{{ guia.tipoDocumento + "-" + guia.documento }}</td>
      <td>{{ guia.celular }}</td>
      <td>{{ guia.telefono }}</td>
      <td>{{ guia.email }}</td>
      <td>
        {{
          guia.unidades +
            "-" +
            guia.kilosReales +
            "-" +
            guia.usoMedidas +
            "-" +
            guia.kilogramosReales
        }}
      </td>
      <td>{{ guia.valor_total_declarado }}</td>
    </tr>
  </tbody>
</table>
<div class="mb-4">
  <button type="button" class="btn btn-success" (click)="agregarManifiesto()">
    Agregar
  </button>
</div>

<!-- Modal de confirmación -->
<div
  class="modal fade"
  id="confirmModal"
  tabindex="-1"
  aria-labelledby="confirmModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="confirmModalLabel">
          Confirmar eliminación
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de que deseas eliminar al cliente
        <strong>{{ guiasSeleccionado?.destinatario }}</strong
        >?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="confirmarEliminacion()"
          data-bs-dismiss="modal"
        >
          Sí, eliminar
        </button>
      </div>
    </div>
  </div>
</div>
