<ul
  ngbNav
  #nav="ngbNav"
  [activeId]="1"
  class="nav justify-content-center bg-secondary w-100 py-2 shadow-sm topnav"
>
  <li [ngbNavItem]="1">
    <a ngbNavLink [class.disabled]="ui.mostrarNav">
      <button class="btn text-bg-secondary" [disabled]="ui.mostrarNav">
        INICIO
      </button>
    </a>
    <ng-template ngbNavContent>
      <p>iframe de inicio</p>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink [class.disabled]="ui.mostrarNav">
      <button class="btn text-bg-secondary" [disabled]="ui.mostrarNav">
        NOSOTROS
      </button>
    </a>

    <ng-template ngbNavContent>
      <p>iframe de nosotros</p>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink [class.disabled]="ui.mostrarNav">
      <button class="btn text-bg-secondary" [disabled]="ui.mostrarNav">
        SERVICIOS
      </button>
    </a>
    <ng-template ngbNavContent>
      <p>iframe de servicios</p>
    </ng-template>
  </li>
  <li [ngbNavItem]="4">
    <a ngbNavLink [class.disabled]="ui.mostrarNav">
      <button class="btn text-bg-secondary" [disabled]="ui.mostrarNav">
        TARIFAS
      </button>
    </a>
    <ng-template ngbNavContent>
      <p>iframe de Tarifas</p>
    </ng-template>
  </li>
  <li [ngbNavItem]="5">
    <a ngbNavLink [class.disabled]="ui.mostrarNav">
      <button class="btn text-bg-secondary" [disabled]="ui.mostrarNav">
        COTIZADOR
      </button>
    </a>
    <ng-template ngbNavContent>
      <p>iframe de cotizador</p>
    </ng-template>
  </li>
  <li [ngbNavItem]="6">
    <a ngbNavLink [class.disabled]="ui.mostrarNav">
      <button
        class="btn text-bg-secondary"
        [disabled]="ui.mostrarNav"
        (click)="IFrameContacto()"
      >
        CONTACTO
      </button>
    </a>
    <ng-template ngbNavContent>
      <iframe
        [src]="urlFrame"
        frameborder="0"
        width="100%"
        style="width: 100%; height: calc(100vh - 20px)"
      ></iframe>
    </ng-template>
  </li>
  <li [ngbNavItem]="7">
    <a ngbNavLink [class.disabled]="ui.mostrarNav ? true : false">
      <button
        class="btn btn-light text-danger"
        (click)="IFrameLogin()"
        [disabled]="ui.mostrarNav ? true : false"
      >
        Zona Clientes
      </button>
    </a>
    <ng-template ngbNavContent>
      <iframe
        [src]="urlFrame"
        frameborder="0"
        width="100%"
        style="width: 100%; height: calc(100vh - 20px)"
      ></iframe>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>
