<div class="card mb-4">
  <div class="card-header bg-primary text-white">Listado de guías</div>
  <div class="card-body">
    <div class="mb-4">
      <input
        type="text"
        class="form-control"
        placeholder="Buscar destinatario..."
        [(ngModel)]="filtroGuia"
        (ngModelChange)="filtrarGuias()"
      />
    </div>
    <div class="mb-4 table-responsive">
      <!-- Tabla de guias  -->
      <table
        class="table table-striped table-hover table-bordered align-middle"
      >
        <thead class="rounded-header">
          <tr>
            <th scope="col" hidden="true">Id</th>
            <th scope="col">Fecha Generación</th>
            <th scope="col">Destinatario</th>
            <th scope="col">Dirección</th>
            <th scope="col">Estado</th>
            <th scope="col">Documento</th>
            <th scope="col">Celular</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Email</th>
            <th scope="col">Unidades</th>
            <th scope="col">Total</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let guia of listaguias">
            <td hidden="true">{{ guia.id }}</td>
            <td>{{ guia.fechaDeGeneracion }}</td>
            <td>{{ guia.destinatario }}</td>
            <td>{{ guia.direccionDestinatario }}</td>
            <td>{{ guia.estado }}</td>
            <td>{{ guia.tipoDocumento + "-" + guia.documento }}</td>
            <td>{{ guia.celular }}</td>
            <td>{{ guia.telefono }}</td>
            <td>{{ guia.email }}</td>
            <td>
              {{
                guia.unidades +
                  "-" +
                  guia.kilosReales +
                  "-" +
                  guia.usoMedidas +
                  "-" +
                  guia.kilogramosReales
              }}
            </td>
            <td>{{ guia.valor_total_declarado }}</td>
            <td>
              <button
                class="btn btn-sm btn-danger"
                (click)="seleccionarGuias(guia)"
              >
                <i class="bi bi-trash"></i> Anular
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Modal de confirmación -->
    <div
      class="modal fade"
      id="confirmModal"
      tabindex="-1"
      aria-labelledby="confirmModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header bg-danger text-white">
            <h5 class="modal-title" id="confirmModalLabel">
              Confirmar anulación
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Cerrar"
            ></button>
          </div>
          <div class="modal-body">
            ¿Estás seguro de que deseas cambiar de estado de la guia del cliente
            <strong>{{ guiasSeleccionado?.destinatario }}</strong
            >?
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="confirmarAnulacion()"
              data-bs-dismiss="modal"
            >
              Sí, anular/desanular
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
