/* Color y estilo general de los textos del menú */
.colorItems a h6 {
  color: black;
  text-decoration: none;
  margin: 0;
  font-weight: 500;
}

/* Contenedor del logo: NO crecer */
.itemIco,
.itemIco * {
  padding: 0 !important;
  margin: 0 !important;
  max-height: 45px !important;
  overflow: hidden;
  display: flex;
  align-items: center;
}

/* Logo súper reducido y forzado */
.brand-logo {
  height: 32px !important; /* Ajustable */
  width: auto !important;
  object-fit: contain;
  display: block;
}
/* Ajuste en tablets */
@media (max-width: 992px) {
  .brand-logo {
    max-width: 90px;
  }
}

/* Ajuste en celulares */
@media (max-width: 576px) {
  .brand-logo {
    max-width: 70px;
  }
}
