.colorItems a h6 {
  color: black;
  text-decoration: none;
}
.itemIco {
  margin-right: 25%;
  height: 7.5vh;
}
.itemIco div {
  width: auto;
  height: auto;
  display: flex;
}
.itemIco img {
  width: 45%;
  height: auto;
  display: block;
  margin-top: -16%;
}
