<div class="card noneScroll">
  <h2 class="text-center text-secondary">CREAR GUIA</h2>


<!-- <div class="mb-2">
  <div class="text-center">
    <h6 class="text-secondary mb-2">Código QR para Google</h6>
    <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=https://www.google.com" 
         alt="QR Code para Google" 
         class="qr-image">
    <small class="text-muted">Escanea este código para ir a Google.com</small>
  </div>
</div> -->


  <div class="card-body">
    <div class="autocomplete-container">
    <div class="mb-2">
      <input
        type="text"
        class="form-control text-secondary"
        [(ngModel)]="guia.destinatario"
        (input)="onSearchChangeDestintario($event)"
        (focus)="onFocusDestinatario()"
        (blur)="onBlurDestinatarios()"
        placeholder="Buscar Destinatario..."
      /> 
    <div *ngIf="loadingDestinatarios" class="autocomplete-loading">
      Cargando Destinatarios...
    </div>

        <!-- Dropdown de resultados -->
    <div *ngIf="mostrarDrpdownDestintario && destinatariosFiltrados.length > 0" 
         class="autocomplete-dropdown">
      <div *ngFor="let destinatario of destinatariosFiltrados" 
           class="autocomplete-item"
           (mousedown)="seleccionarDestintario(destinatario)">
        {{ destinatario.nombre + " " + destinatario.documento + " " + destinatario.ciudad }} 
      </div>
    </div>

     <div *ngIf="mostrarDrpdownDestintario && destinatariosFiltrados.length === 0 && !loading" 
         class="autocomplete-no-results">
      No se encontraron destintarios
    </div>


    </div>
  </div>
    <div class="mb-2">
      <input
        type="text"
        class="form-control text-secondary"
        [(ngModel)]="guia.direccion_destinatario"
        placeholder="Dirección del Destinatario *"
      />
    </div>
<div class="mb-2">
  <div class="autocomplete-container">
    <input
      type="text"
      class="form-control text-secondary"
      [(ngModel)]="ciudadSearchText"
      (input)="onSearchChange($event)"
      (focus)="onFocus()"
      (blur)="onBlur()"
      placeholder="Buscar ciudad..."
    />
    
    <!-- Loading indicator -->
    <div *ngIf="loading" class="autocomplete-loading">
      Cargando ciudades...
    </div>
    
    <!-- Dropdown de resultados -->
    <div *ngIf="mostrarDropdown && ciudadesFiltradas.length > 0" 
         class="autocomplete-dropdown">
      <div *ngFor="let ciudad of ciudadesFiltradas" 
           class="autocomplete-item"
           (mousedown)="seleccionarCiudad(ciudad)">
        {{ ciudad.ciudad }} 
      </div>
    </div>
    
    <!-- Mensaje cuando no hay resultados -->
    <div *ngIf="mostrarDropdown && ciudadesFiltradas.length === 0 && !loading" 
         class="autocomplete-no-results">
      No se encontraron ciudades
    </div>
  </div>
</div>


     <div class="mb-2">
      <select class="form-control text-secondary" [(ngModel)]="guia.tipo_pago">
        <option value="0">Seleccione tipo de pago</option>
        <option value="1">Efectivo</option>
        <option value="2">Transferencia</option>
        <option value="3">QR</option>
      </select>
    </div>

    <div class="mb-2">
      <select class="form-control text-secondary" [(ngModel)]="guia.tipo_documento">
        <option value="">Seleccione el tipo de Documento</option>
        <option value="CC">Cédula Ciudadania </option>
        <option value="CE">Cédula Extrangeria</option>
        <option value="OTRO">Otro</option>
      </select>
    </div>


    <div class="mb-2">
      <input
        type="text"
        class="form-control text-secondary"
        [(ngModel)]="guia.documento"
        placeholder="Documento de destinatario *"
      />
    </div>
    <div class="mb-2">
      <input
        type="text"
        class="form-control text-secondary"
        [(ngModel)]="guia.celular"
        placeholder="Celular de destinatario *"
      />
    </div>
    <div class="mb-2">
      <input
        type="text"
        class="form-control text-secondary"
        [(ngModel)]="guia.telefono"
        placeholder="Teléfono de destinatario *"
      />
    </div>
    <div class="mb-2">
      <input
        type="text"
        class="form-control text-secondary"
        [(ngModel)]="guia.email"
        placeholder="Email de destinatario *"
      />
    </div>
    <div class="mb-2">
      <select class="form-control text-secondary" [(ngModel)]="guia.tipo_pago">
        <option value="0">Seleccione tipo de pago</option>
        <option value="1">Efectivo</option>
        <option value="2">Transferencia</option>
        <option value="3">QR</option>
      </select>
    </div>
    <div class="mb-2">
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input text-secondary"
          [(ngModel)]="guia.carta_porte"
        />
        <label for="checkDefault" class="form-check-label text-danger fs-6"
          >Carta de porte</label
        >
      </div>
    </div>
    <div class="mb-2">
      <input
        type="text"
        class="form-control text-secondary"
        [(ngModel)]="guia.valor_total_declarado"
        placeholder="Valor total declarado mercancia (pesos)*"
      />
    </div>
    <div class="mb-2">
      <input
        type="text"
        class="form-control text-secondary"
        [(ngModel)]="guia.unidades"
        placeholder="Unidades*"
      />
    </div>
    <div class="mb-2">
      <input
        type="text"
        class="form-control text-secondary"
        [(ngModel)]="guia.kilos_reales"
        placeholder="Kilos reales(Kg)*"
      />
    </div>
    <div class="mb-2">
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input text-secondary"
          [(ngModel)]="guia.uso_medidas"
        />
        <label for="checkDefault" class="form-check-label text-danger fs-6"
          >Usar medidas</label
        >
      </div>
    </div>
    <div class="mb-2">
      <input
        type="text"
        class="form-control text-secondary"
        [(ngModel)]="guia.kilogramos_reales"
        placeholder="Kilogramos volumen(Largo x Alto x Ancho)*"
      />
    </div>
    <div class="mb-2">
      <input
        type="text"
        class="form-control text-secondary"
        [(ngModel)]="guia.descripcion_contenido"
        placeholder="Descripción de contenido"
      />
    </div>
    <div class="mb-2">
      <input
        type="text"
        class="form-control text-secondary"
        [(ngModel)]="guia.observaciones"
        placeholder="Observaciones"
      />
    </div>
    <div class="mb-2">
      <input
        type="text"
        class="form-control text-secondary"
        [(ngModel)]="guia.documento_remitente"
        placeholder="Documento remitente"
      />
    </div>
    <div class="dropdown-divider"></div>
    <div class="mb-2">
      <div class="d-grid gap-2">
        <button class="btn btn-primary" (click)="ProcesarGuia()"               
            >Crear Guia
        </button>
      </div>
    </div>
 <div class="dropdown-divider"></div>
    <div class="mb-2">
      <div class="d-grid gap-2">
        <button class="btn btn-info" (click)="calcularPresupuesto()"               
            >Presupuesto
        </button>
      </div>
    </div>

    <div class="mb-2" *ngIf="mostrarQR" [class.mostrar-qr]="mostrarQR">
      <div class="text-center">
        <h6 class="text-secondary mb-2">Código QR de la Guia Generada</h6>
        <img [src]="qrCodeUrl" 
            alt="QR Code para Google" 
            class="qr-image"
            (error)="handleImageError($event)">
        <small class="text-muted"></small>
        
        <!-- Botón para ocultar el QR (opcional) -->
        <div class="mt-2">
          <button class="btn btn-sm btn-outline-secondary" (click)="ocultarQR()">
            Ocultar QR
          </button>
        </div>
      </div>
    </div>

    <div class="mb-2">
      <div class="d-grid gap-2">
        <button class="btn btn-secondary">Regresar</button>
      </div>
    </div>
  </div>
</div>
